services:
  web:
    build:
      context: .
      dockerfile: ./.build/Dockerfile
    image: odoo17
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/extra-addons
      - ../.vscode:/mnt/.vscode
    command: sleep infinity
    # environment:
      # - PASSWORD_FILE=/run/secrets/postgresql_password
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
        POSTGRES_USER: "${POSTGRES_USER}"
        POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
        POSTGRES_DB: "postgres"
        PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
volumes:
  odoo-web-data:
  odoo-db-data: